.mobile-menu {
    background-color:#ffffff;
    padding: 40px;
    

    &.is-open {
        display: block;
    } 

   @include mq (mobile-only){
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%; 
   }

    @media screen and (min-width:768px){
        display: flex;
        align-items: center;
    }

}


