body {
    background-color: #FFFFFF;
    color: var(--primary-text-color);
    font-family: var(--main-font);
    letter-spacing: 0.03em;   
}
body.modal-open {
    overflow: hidden;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @include mq (tablet)  {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @include mq (desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
}

.section__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    margin-top: 0px;
    margin-bottom: 50px;
}
