.feature-section {
    padding-bottom: 0;
   
}

.feature__list {
    
    list-style: none;

    @include mq (tablet) {
        display: flex;
        flex-wrap: wrap;   
    }

    @include mq (desktop) {
        display: flex;
    }
}

.feature__item {

    @include mq (mobile-only){
        &:not(:last-child){
            margin-bottom: 30px;
        }
         
    }
    @include mq (tablet-only) {
        &:nth-child(1),
        &:nth-child(3) {
            margin-right: 30px;
        }
        &:nth-child(1),
        &:nth-child(2) {
            margin-bottom: 30px;
        }

    }
    @include mq (desktop) {
        margin-right: 30px;

     &:nth-child(4n) {
        margin-right: 0;
        }   
    }
}

.feature__icon-blok {
    display: flex;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;

    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.feature__title {

    @include mq (mobile-only){
        text-align: center;
        justify-content: center;
    }
    
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;

    margin-bottom: 10px;

}

.feature__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    width: auto;

  

    @include mq (tablet-only) {
        width: 354px;
       
    }

    @include mq (desktop) {
        width: 270px;
    }
}