.footer {
    display:block;

    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #2F303A; 
    
    &__logo {
        display: block;
        padding-bottom: 20px;
        text-align: center;

        @include mq (desktop) {
            text-align: left;
        }
    }

    &__container {
        
        align-items: baseline;

        @include mq (tablet-only){
            display: flex;
            flex-wrap: wrap;
        }

        @include mq (desktop){
            display: flex;
        }   
    }

    &__title {
        // 
        text-align: center;
        
        // 
        display: block;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: #FFFFFF;

        margin-bottom: 20px;

        @include mq (desktop) {
            display: flex;
            text-align: left;
        }
    }

  
}

.logo--white {
    color: #ffffff;
}

