.footer__address {
    @include mq (tablet-only) {
        margin-left: 76px;
        margin-right: 165px;
    }

    @include mq (desktop) {
        display: block;
        box-sizing: border-box;
        margin: 0;
        margin-right: 70px;
        justify-content: left; 
        
        
    }
    
}

.address__link {
    text-align: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    display: block;
    margin-top: 9px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @include mq (desktop){
        text-align: left;
    }
}

.address {
    display: block;
    // 
    text-align: center;
    justify-content: center;
    margin-bottom: 60px;
    // 

    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    @include mq (desktop) {
        margin-bottom: 0;
    }
}

